@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans KR";
}

input {
  outline: none;
}

.relative {
  > p {
    position: absolute;
  }
}

@layer components {
  .nav-bar > button {
    @apply block;
  }
  .nav-title-wrapper > button {
    @apply mr-[7px];
  }
}
